.outer {
  background: linear-gradient(rgb(243, 171, 143), rgb(241, 144, 133));
  margin: 0 auto;
  padding: 5rem;
  border: none;
  color: rgb(7, 77, 59);
  max-width: 30rem;
}
.submitButton {
  padding: 5px 20px;
  background: limegreen;
  border: none;
  border-radius: 2px;
}
input {
  margin: 10px auto;
  border: none;
  padding: 2px 5px;
  color: green;
}
